@model IEnumerable<Assignment1.Models.HouseSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search for the house you want</h2>

@if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Administrator"))
        {
            <p>
            @Html.ActionLink("Create New", "Create")
            </p>
        }
    }

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bathroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bedroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bathroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Administrator"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Buy", "Create", "TransactionSets")
                    </td>
                }
            }
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />