@model Assignment1.Models.RateSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RateSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgentMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebSiteMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebSiteMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallMark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
